body{
	background-color:rgb(255, 255, 255);
	color:#555555;

	font-family: serif;
	font-size:18px;
	font-weight: normal;

	line-height: 1.6em;
	margin-top:0px;
	margin-bottom: 100px;
}

.container1{
width: 80%;
margin:auto;
}
body{
	background-color: red;
}
.box1{
	font-family: cursive;
	border-style: solid;
	border-radius: 10px;
	width: 5px;
	background-color: lightskyblue;
}
