/*h1*/
h1{
	text-align: center;
	font-family: sans-serif;
	font-weight: 800;
	font-size:80px;
	font-size: 80px;
	color: black;
}
	/*body*/
div {
	width: 300px;
}
	hr {
			position: relative;
			top: 20px;
			border: none;
			height: 12px;
			background: black;
			margin-bottom: 50px;
	}
body{
	background-color: rgb(213, 231,213);
	color:#555555;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: red;
}
/*blocks*/
.block1{
	border-collapse: separate;
	border-spacing: 50px 15px;
	float:left;
	width: 33%;
	border:2px solid black;
	border-radius: 15px;
	background-color: white;
	width:32%;
	margin:auto;
}
.block2{
	border-collapse: separate;
	border-spacing: 50px 15px;
	float: left;
	width: 33%;
	border:2px solid red;
	border-radius: 15px;
	background-color: white;
	width:32%;
	margin:auto;
}
.block3{
	border-collapse: separate;
	border-spacing: 50px 15px;
	float: left;
	width: 33%;
	border:2px solid black;
	border-radius: 15px;
	background-color: white;
	width:32%;
	margin:auto;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
