/*h1*/
h1{
	text-align: center;
	font-family: sans-serif;
	font-weight: 800;
	font-size:80px;
	font-size: 80px;
}
	/*body*/
div {
	width: 300px;
}
	hr {
			position: relative;
			top: 20px;
			border: none;
			height: 12px;
			background: black;
			margin-bottom: 50px;
	}
body{
	background-color: rgb(213, 231,213);
	color:#555555;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: red;
}
/*blocks*/
.block{
	float: left;
	width: 33%;
	border:3px solid black;
	border-radius: 15px;
	background-color: white;
	width:33%;
	margin:auto;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
