h1{
  color: black;
}
p{
  color: black;
}
body{
  background-color: rgb(255, 255, 255);
  color: black

  font-family:serif;
  font-size: 18px;
  font-weight: normal;

  line-height: 1.6em;
  margin: 5px;
}
